.view
{
    position: relative;
    margin: 0 auto;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width:91vw;
    float:right

}
.result
{

width: 905px;
height: 48px;
left: 0px;
top: 0px;
float: left;
/* desktop/H2 */

font-family: Lora;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height, or 133% */


/* Text/Onyx */

color: #262729;
}